[submodule "DigitalClock"]
	path = DigitalClock
	url = https://github.com/bassarcy/DigitalClock.git
[submodule "ToDoList"]
	path = ToDoList
	url = https://github.com/bassarcy/ToDoList.git
[submodule "movie-browser-app"]
	path = movie-browser-app
	url = https://github.com/bassarcy/MovieBrowserApp.git
