.project-box {
    height: 3rem;
    background-color: black;
    margin: 2px;
    border-radius: 5%;
}

.head-shot {
    width: 20%;
    height: auto;

}

a {
    color: white;
    text-decoration: none;
}