/* General */

section {
    height: 1000px;
}

/* Navbar */

a {
    color: white;
    text-decoration: none;
}

.wrapper {
    width: 100%;
    position: fixed;
    z-index: 10;
    background: inherit;
}

.bottom-wrapper {
    width: 100%;
    padding-top: 92px;
    z-index: 5;
    overflow: auto;
}

/* Hero */

.head-shot {
    width: 20%;
    height: auto;
    background-color: black;

}

/* Projects */

.project-box {
    height: 3rem;
    background-color: black;
    margin: 2px;
    border-radius: 5%;
}

/* Resume */

/* Contact */

#email {
    color: white;
}

/* Other ? */





