/* General */

body {
    background: rgb(33,37,55);
    background: linear-gradient(135deg, rgba(33,37,55,1) 0%, rgba(33,37,41,1) 100%);
}


/* Navbar */

a {
    color: white;
    text-decoration: none;
}

nav {
    background: rgb(21, 37, 55);
    border-bottom: 1px dotted black;
}

.wrapper {
    width: 100%;
    position: fixed;
    z-index: 10;
}

.bottom-wrapper {
    width: 100%;
    padding-top: 0px;
    z-index: 5;
    overflow: auto;
}

/* Hero */

.head-shot {
    width: 285px;
    height: auto;
    background-color: rgba(89, 94, 143, 0.311);

}

/* Projects */

.button-text {
    text-decoration: none;
    color: white;
}

/* Resume */

/* Contact */

#email {
    color: white;
}

/* Other ? */





